extends ../layouts/common
block content
  .container
    h1.title Danh s&aacute;ch h&#x1ECD;c vi&ecirc;n:
    form(action='/hocvien/search' method='GET')
      label(for='fullname') H&#x1ECD; v&agrave; t&ecirc;n: 
      input(type='text', name='fullname')
      button Search
      a(href="/hocvien/create") Create new
      br
      br
    each hv in dshv
      li='id: ' + hv.id
          a(href='/hocvien/'+ hv.id) View details
