doctype html
head
  title How to use lowdb
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  style 
    include partials/style.css
.container
  a(href='/hocvien') Danh sách học viên
  