doctype html
head
  title How to use lowdb
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  style 
    include partials/style.css
.container
  h1.title &Dstrok;i&#x1EC1;n th&ocirc;ng tin h&#x1ECD;c vi&ecirc;n m&#x1EDB;i:
   form(action='/hocvien/create' method='POST')
    label(for='fullname') H&#x1ECD; v&agrave; t&ecirc;n: 
    input(type='text', name='fullname')
    button Add
    h4 Vui lòng nhập họ và tên