doctype html
head
  title How to use lowdb
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  style 
    include ../views/partials/style.css
body
    block content